<ul class="menu-root">
    <%
    const groupMapping = {
        base: '基础',
        advanced: '进阶',
        integration: '整合',
        extend: '扩展'
    }
    const groupShow = []
    %>
    <% site.pages.find({type: type}).sort('order').each(function (p) { %>
        <% if (p.group && groupShow.indexOf(p.group) === -1) { %>
        <li><h3><%= groupMapping[p.group] %></h3></li>
        <% groupShow.push(p.group) %>
        <% } %>
        <li>
            <a href="<%- url_for(p.path) %>"
               class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
    <% }) %>
</ul>
